.homeclassify{
    padding: 42px 0;
}
.homeclassify-item-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #E9423C;
    text-align: center;
}
.homeclassify-item-logo{
    margin: 0 auto;
}
.homeclassify-item-logo i{
    line-height: 100px;
    font-size: 46px;
    color:#fff;
}
.homeclassify-item-title{
    text-align: center;
    font-size: 24px;
    margin-top: 18px;
    font-weight: bold;
}