#uerBuildMenuSongs{
	position:absolute;
	top:0;
	/*left: 0;
	right:0;*/
	z-index:3;
	height: 100%;
	width: 750px;
	overflow-x: hidden;
	background:#fff;
}
#introduce{
	display: flex;
	padding:40px 54px 36px 30px;
	background: #84A9BC;
	color:#fff;
}
.introduce_l img{
	width: 266px;
	height: 266px;
}
.introduce_r{
	padding: 16px 0 0 38px;
	
}
.introduce_r p:nth-child(1){
	font-size: 34px;
	line-height: 54px;
	
}

.introduce_r p:nth-child(2){
	margin-top:54px;
	font-size: 28px;
}
.introduce_r .icon-xiangyou{
	font-size: 26px;
	margin-left: 6px;
}
#ListSongs{
	background: #8DAEBF;
}
#ListSongs i{
	color:#ACADAE;
}
.ListSongs_t{
	background: #fff;
	font-size: 42px;
	padding:24px 0 24px 32px;
	border-bottom: 1px solid #BFC3C2;
	color:#000;
	border-radius: 30px 30px 0 0;
}
.ListSongs_t span{
	font-size: 32px;
	margin-left: 28px;
}
.ListSongs_t span:nth-child(2){
	color:#929695;
}
.listSongs{
	background: #fff;
	padding-left:18px;
}

.songsList li{
	display: flex;
	
}
.songsList .icon-gengduoxiao{
	padding-right: 40px;
}
.songsList .index{
	padding:10px;
	width: 42px;
	text-align: center;
	font-size: 32px;
	line-height: 112px;
	color:#8A8E8D;
}
.songsList .name{
	padding:18px;
	width: 500px;
	border-bottom: 1px solid #EDF1F0;
}
.name p:nth-child(1){
	font-size: 32px;
	line-height: 56px;
}
.name p:nth-child(2){
	font-size: 26px;
	line-height: 60px;
	color:#828383;
}
.songsList i{
	line-height: 156px;
	font-size: 40px;
	border-bottom:1px solid #EDF1F0;
	
}
.songsList .play{
	padding-right: 40px;
}
