#reg{
	background: #F7F7F7;
	
	height: 100%;
}
#reg .top{
	background: #2299ED;
	height:100px;
	color:#fff;
	font-size: 34px;
	line-height: 100px;
}	
#reg .top i{
	font-size: 40px;
	font-weight: bold;
	line-height: 100px;
	margin: 0 23px;
}
#reg .ts{
	height: 38px;
	width: 100%;
	font-size: 20px;
	line-height: 38px;
	color:red;
}
#reg ul{

	border-top:1px solid #EAEAEA;
	background: #fff;
}
#reg ul li{
	color:#000;
	font-size: 34px;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #EAEAEA;
}
#reg ul li i{
	font-size: 40px;
	line-height: 100px;
	font-weight: bold;
	margin-right: 45px;
	float: right;
}
#reg ul li label{
	margin: 0 26px
}
#reg ul li label input{
	margin-left: 26px;
	font-size: 34px;
}
#reg button{
	color:#fff;
	height: 100px;
	line-height: 100px;
	font-size: 34px;
	width: 676px;
	margin: 38px;
	border-radius: 15px;
	background: #2299ED;
}